//color's
$color-name-bg: #d2dee2;
$color-name: #444444;
$color-price-bg: #f3f3f3;
$color-border-table: #888888;
$color-item-hover: #f8f8f8;
$color-button-bg:#42b983;
$color-button-hover-bg:#4ce5a5;
$color-cart-text: #9f9f9f;
$color-border-cart: #eeeeee;
$color-mess-border: #ff9900;
$color-mess-bg: #fffaf2;
$color-mess-color: #ff733c;
$color-border-input: #cccccc;